[submodule "extenginx"]
	path = extenginx
	url = https://github.com/underground-software/extenginx.git
[submodule "kdlp.underground.software"]
	path = kdlp.underground.software
	url = https://github.com/underground-software/kdlp.underground.software.git
[submodule "orbit"]
	path = orbit
	url = https://github.com/underground-software/orbit.git
[submodule "tcp_server"]
	path = tcp_server
	url = https://github.com/underground-software/tcp_server.git
